# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @pimpmynines will be requested for review when someone 
# opens a pull request.
*       @pimpmynines

# Specific path ownership examples
/src/   @pimpmynines
/.github/ @pimpmynines